* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.whoIsWatching {
    width: 100vw;
    min-height: 100vh;
    background-color: #141414;
}


.logo {
    width: 95vw;
    margin: auto;
    height: 5rem;
    background-color: rgb(20, 20, 20);

}

.logo a img {
    width: 10rem;
    height: 4rem;
    cursor: pointer;
}

.main {
    width: 100vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;

}

.inDiv .btn,
.addIcon {
    height: 22vh;
    width: 10vw;
    position: relative;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: cover;
}

.inDiv .btn:nth-child(1) {
    background-image: url("m.png");
}

.inDiv .btn:nth-child(2) {
    background-image: url("m.png");
}

.inDiv .btn:nth-child(3) {
    background-image: url("m.png");
}

.inDiv .btn:nth-child(4) {
    background-image: url("m.png");
}
.inDiv .btn:hover {
    /* box-shadow: inset 0 0 0 5px rgba(255, 255, 255, 0.9); */
    border: 2px solid red;
}

.inDiv .btn span,
.addIcon span {
    width: inherit;
    position: absolute;
    bottom: -19px;
    left: 0;
    color: white;
}

.addIcon {
    position: absolute;
    bottom: 256px;
    border-radius: 100px;
    border: #141414;
    background-color: #141414;
    /* right: 300px; */
}

.addIcon :hover {
    color: green;
    /* background-color: brown; */
}

.i {
    font-size: 7vw;
    color: grey;
    opacity: 0.8;
}

.manageProfile {
    border: 2px solid grey;
    color: grey;
    text-transform: uppercase;
    padding: 5px 10px;
    cursor: pointer;
    background: transparent;
    margin: 10px;
}

.manageProfile:hover {
    color: white;
    border: 2px solid white;
}